@import 'styles/item';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');

body {
  font-family: 'Trebuchet MS', 'Exo 2', sans-serif;
  background-image: url('./assets/img/background.png');
  background-size: cover;
}

.items {
  padding-top: 24px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.question {
  color: white;
  font-size: 36px;
  font-family: 'Exo 2';
  text-align: center;
  display: block;
  margin-top: 46px;
}